<h1> New York Rangers Stats

<h2> Import Modules

In [9]:
import pandas as pd
import requests as re
import json

<h2> Pull in NHL API for NYR

In [13]:
nyr_url = ""
response = re.get(nyr_url, verify=False)https://api.sportsdata.io/v3/nhl/scores/json/PlayersBasic/NYR?key=c0cfac7f35e3438d9d1b060f9d2d7459
print(response)

c:\Users\logic\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1095: InsecureRequestWarning: Unverified HTTPS request is being made to host 'api.sportsdata.io'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

<Response [200]>

<h2> Sample API Data

In [17]:
data = response.json()
df = pd.DataFrame(data)
df.head()

,PlayerID,FirstName,LastName,Status,TeamID,Team,Position,Jersey,Height,Weight,BirthDate,BirthCity,BirthState,GlobalTeamID
0,30000226,Vincent,Trocheck,Active,12,NYR,C,16.0,71.0,184.0,1993-07-11T00:00:00,Pittsburgh,PA,30000012
1,30000260,Jaroslav,Halak,Active,12,NYR,G,41.0,71.0,189.0,1985-05-13T00:00:00,Bratislava,None,30000012
2,30000320,Chris,Kreider,Active,12,NYR,LW,20.0,75.0,230.0,1991-04-30T00:00:00,Boxford,MA,30000012
3,30000467,Mika,Zibanejad,Active,12,NYR,C,93.0,74.0,202.0,1993-04-18T00:00:00,Huddinge,None,30000012
4,30000478,Ben,Harpur,Active,12,NYR,D,5.0,78.0,231.0,1995-01-12T00:00:00,Hamilton,ON,30000012

<h2> Height and Weight Mean

In [30]:
mean = df[["Height","Weight"]].mean()
mean

Height     73.190476
Weight    194.746032
dtype: float64

<h2>Active Player Count

In [31]:
Active = df['Status'].count()
Active

64

<h2> Query for Patrick Kane ('Kaner')

In [32]:
Kaner = df.query("LastName == 'Kane'")
Kaner

,PlayerID,FirstName,LastName,Status,TeamID,Team,Position,Jersey,Height,Weight,BirthDate,BirthCity,BirthState,GlobalTeamID
9,30000866,Patrick,Kane,Active,12,NYR,RW,88.0,70.0,177.0,1988-11-19T00:00:00,Buffalo,NY,30000012

<h2> Second and Third Rows of DataFrame

In [37]:
df.iloc[2:4]

,PlayerID,FirstName,LastName,Status,TeamID,Team,Position,Jersey,Height,Weight,BirthDate,BirthCity,BirthState,GlobalTeamID
2,30000320,Chris,Kreider,Active,12,NYR,LW,20.0,75.0,230.0,1991-04-30T00:00:00,Boxford,MA,30000012
3,30000467,Mika,Zibanejad,Active,12,NYR,C,93.0,74.0,202.0,1993-04-18T00:00:00,Huddinge,None,30000012

<h2> First Four Rows of DataFrame

In [38]:
first_four = df.head(4)
first_four

,PlayerID,FirstName,LastName,Status,TeamID,Team,Position,Jersey,Height,Weight,BirthDate,BirthCity,BirthState,GlobalTeamID
0,30000226,Vincent,Trocheck,Active,12,NYR,C,16.0,71.0,184.0,1993-07-11T00:00:00,Pittsburgh,PA,30000012
1,30000260,Jaroslav,Halak,Active,12,NYR,G,41.0,71.0,189.0,1985-05-13T00:00:00,Bratislava,None,30000012
2,30000320,Chris,Kreider,Active,12,NYR,LW,20.0,75.0,230.0,1991-04-30T00:00:00,Boxford,MA,30000012
3,30000467,Mika,Zibanejad,Active,12,NYR,C,93.0,74.0,202.0,1993-04-18T00:00:00,Huddinge,None,30000012