In [1]:
print("hello world!")

hello world!

In [2]:
list = ['Peanut', 'Jesse', 'Sascha', 'Ramon']
print(list)

['Peanut', 'Jesse', 'Sascha', 'Ramon']

In [3]:
print(list[3])

Ramon

In [4]:
dictionary = {
    'Peanut':8,
    'Jesse':40,
    'Sascha':33,
    'Ramon':39
}
dictionary

{'Peanut': 8, 'Jesse': 40, 'Sascha': 33, 'Ramon': 39}

In [5]:
print(dictionary['Jesse'])

40

In [6]:
mytuple = ('Peanut', 'Jesse', 'Sascha', 'Ramon')
mytuple

('Peanut', 'Jesse', 'Sascha', 'Ramon')

In [ ]:
print(mytuple[0])